<footer class="site-footer">
  <div class="social-links">

    <a href="https://scholar.google.com/citations?user=S9uJI0wAAAAJ&hl=en&oi=ao" aria-label="Google Scholar" target="_blank">
      <i class="fas fa-graduation-cap"></i>
    </a>

    <a href="https://orcid.org/0009-0004-9558-8798" aria-label="ORCID" target="_blank">
      <i class="fab fa-orcid"></i>
    </a>

    <a href="https://github.com/aekeser" aria-label="GitHub" target="_blank">
      <i class="fab fa-github"></i>
    </a>

    <a href="https://www.linkedin.com/in/aemrekeser96/" aria-label="LinkedIn" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>

    <a href="https://www.researchgate.net/profile/Ahmet-Keser-3?ev=hdr_xprf" aria-label="ResearchGate" target="_blank">
      <i class="fab fa-researchgate"></i>
    </a>

    <a href="https://bsky.app/profile/aekeser.bsky.social" aria-label="Bluesky" target="_blank">
      <i class="fa-brands fa-bluesky"></i>
    </a>

    <a href="https://x.com/emrekesertr" aria-label="X" target="_blank">
      <i class="fa-brands fa-x-twitter"></i>
    </a>

  </div>

  <p class="copyright">
  {% if page.lang == "tr" %}
    © 2026 Ahmet Emre Keser. Tüm hakları saklıdır.
  {% else %}
    © 2026 Ahmet Emre Keser. All rights reserved.
  {% endif %}
</p>
</footer>