<footer class="site-footer">
  <div class="social-links">
    <a href="https://scholar.google.com/citations?user=S9uJI0wAAAAJ&hl=en&oi=ao" aria-label="Google Scholar">GS</a>
    <a href="https://orcid.org/0009-0004-9558-8798" aria-label="ORCID">ORCID</a>
    <a href="https://github.com/aekeser" aria-label="GitHub">GH</a>
    <a href="https://www.linkedin.com/in/aemrekeser96/" aria-label="LinkedIn">in</a>
    <a href="https://www.researchgate.net/profile/Ahmet-Keser-3?ev=hdr_xprf" aria-label="ResearchGate">RG</a>
    <a href="https://bsky.app/profile/aekeser.bsky.social" aria-label="Bluesky">BS</a>
    <a href="https://x.com/emrekesertr" aria-label="X / Twitter">X</a>
  </div>

  <p class="copyright">
    © 2026 Ahmet Emre Keser. All rights reserved.
  </p>
</footer>